*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
Bin/
obj/
*.ncrunchsolution
*.ncrunchsolution.user
*.orig
*/Properties
DomainLayer/obj/Debug/Domain.csproj.FileListAbsolute.txt
DataLayer/obj/Debug/DataAccessLayer.csproj.FileListAbsolute.txt
BusinessLayer/obj/Debug/BusinessLayer.csproj.FileListAbsolute.txt
DataLayer/App.Config