* 
{
    padding: 0;
    margin: 0;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border: 1px solid black;
    float: left;
    width: 80%;
    padding: 10px;
}

header,
footer,
nav,
section {
    display: block;
}

.clear { clear: both; }

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.menu
{
    float: right;
}

#title
{
    float: left;
    font-size: 16px;
    font-weight: bold;
}

#body
{
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 80px;
    margin-left: 80px;
}

#header
{
    width: 100%;
}

.big-link
{
    font-size: 16px;
}

#suggestions-tabs
{
    margin-top: 20px;
    width: 80%;
}

#suggestions-table
{
    width: 100%;
    text-align: center;
}

#suggestions-table tr:nth-child(odd)
{
    background-color: #E8E3E5;
}

#suggestions-table th
{
    background-color: #C9C9C9;
}

/* Spesific Create Suggestion styles
-----------------------------------------------------------*/
.suggestion-input-field { width: 200px; }
.suggestion-input-number-field { width: 30px; }
.suggestion-day-box 
{
    width: 25px;
    display: inline;
    float: left;
    margin-right: 7px;
}
#suggestion-submit-container { margin: 20px 0; }
#suggestion-submit-container input {
    margin-right: 10px;
    width: 100px;
    height: 23px;


.sub-title
{
    width: 30%;
    font-weight: bold;
    border-bottom: 1px dotted;
}