@model PresentationLayer.Weekdays
           
<div id="join-suggestion" title="Select available weekdays" style="display: none">
    <div class="editor-label">
        <label >Your weekly schedule</label>
    </div>
    @Html.EditorFor(m => Model)
</div>