@model PresentationLayer.DashboardViewModel

<div id="suggestions-details">
    @if (@Model.SelectedSuggestion != null)
    {
        <div class="sub-title">@Model.SelectedSuggestion.Title</div> 
        <text>
        Keen på å spille volleyball eller?
        </text>        
    }

</div>  