@model PresentationLayer.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h3>Error</h3>
    <p>@Html.DisplayTextFor(e => e.domainErrorMessage)</p>
    <p>@Html.DisplayTextFor(e => e.innerErrorMessage)</p>
</body>
</html>